@media screen and (max-width: 600px) {
    .floating-text-message {
        line-height:1;
        text-decoration: underline;
        font-size:0.6rem;        
    }
  }

  @media screen and (max-width: 600px) {
    .floating-text-number {
        font-size:1rem;
        font-weight: bold;
        line-height:1;
    }
  }
  @media screen and (max-width: 600px) {
    .floating-button {
        font-size:1rem;
        color: #FFF;
        border-radius: 100%;
        background-color: #009be1;
        width: 60px;
        height: 60px;
        border: none;
        outline: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: .3s;
        text-decoration: none;
        display: flex;
    }
  }